/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


// Configurable variables/defaults
params {
    // defaults. best not changed
    pipelineVersion     = '0.0.1dev' // Pipeline version
    path                = false
    outdir              = './strainpanda_out'
    tracedir            = "${params.outdir}"
    ref_list            = false
    ref_path            = false
    singleEnd           = false
    skip_profile        = false
    run_minpath         = false
}


profiles {
    standard {
      includeConfig 'conf/base.config'
    }
    singularity { singularity.enabled = true }
    docker {
      includeConfig 'conf/base.config'
      docker.enabled = true
      docker.runOptions='-u $(id -u):$(id -g)'
      process.container = 'strainpanda:dev'
    }
    test {
      includeConfig 'conf/base.config'
      includeConfig 'conf/test.config'
    }
    awsbatch {
      includeConfig 'conf/base.config'
      includeConfig 'conf/awsbatch.config'
    }
    none {
      // Don't load any config (for use with custom home configs)
    }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_info/strainpanda_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_info/strainpanda_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_info/strainpanda_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_info/strainpanda_DAG.svg"
}


manifest {
  name = 'StrainPanDA-pipeline'
  description = 'StrainPanDA nextflow pipeline'
  homePage = 'https://github.com/xbiome/StrainPanDA'
  author = 'Han Hu'
  // TODO: Define only here if/when we can. See https://github.com/nextflow-io/nextflow/issues/840
  version = params.pipelineVersion
  mainScript = 'main.nf'
  nextflowVersion = '>=19.09.0-edge'
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
