 /* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself. It should be used with the max_memory, max_cpus and
 * max_time params for customising hardware limits
 */


process {
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  time = { check_max( 8.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3

  // Process-specific resource requirements
  withName:panphlanMap {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }
  withName:runStrainPanDAR {
      cpus = { check_max( 8 * task.attempt, 'cpus' ) }
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      time = { check_max( 8.h * task.attempt, 'time' ) }
  }
}

// Defaults config params, may be overwritten by later configs
params {
  max_memory = 128.GB
  max_cpus = 32
  max_time = 240.h
}
